		ul {list-style-type: none;}
		
		.text{
			font-family:Impact, 'Arial Narrow Bold', sans-serif;
			color: white;
		
		}
		
		#cont1{
			 display: flex;
			 flex-direction: row;
			 justify-content: center;
			 align-items: center;
			 width: 100%;
			 height: 100%;
			 background-color: lightblue;
		}
		#cont2a{
			 display: flex;
			 width: 45%;
			 height: 90%;
			 align-items: center;
			 background-color: #488c94;
			 justify-content: center;
			}
		#cont2b{
			 display: flex;
			 width: 45%;
			 height: 90%;
			 background-color: #1f818c;
			 
			 flex-direction: column;
			 align-items: stretch;
			 justify-content: space-between;
			 
			 text-align: right;
			 font-size: calc(160%); 
			 color: transparent; -webkit-text-stroke: 1px white;

			}